# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: cd pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        
    - name: Train model
      run: |
        python train.py

    - name: Verify gcloud authentication
      run: gcloud auth list
        
    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with: 
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        export_default_credentials: true
      
    - name: Build and Deploy to Cloud Run
      run: |
        gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/ml-model-api
        gcloud run deploy ml-model-api \
          --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/ml-model-api \
          --region ${{ secrets.GCP_REGION }} \
          --platform managed
          --allow-unauthenticated
